<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice Project | freeCodeCamp.org</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main>
      <h1>Timestamp Microservice Project</h1>
      <hr />
      <div class="container">
        <h2>Example Usage:</h2>
        <ul>
          <li>
            <a href="api">[project url]/api (to get current date and time)</a>
          </li>
          <li><a href="api/2025-08-12">[project url]/api/2025-08-12</a></li>
          <li>
            <a href="api/1451001600000">[project url]/api/1451001600000</a>
          </li>
        </ul>

        <h2>Example Output:</h2>
        <pre><code>{ 
  "unix": 1754956800000, 
  "utc": "Tue, 12 Aug 2025 00:00:00 GMT"
}</code></pre>
      </div>
    </main>

    <footer class="footer">
      <p>
        Made by
        <a
          href="https://github.com/jeffamazed"
          target="_blank"
          rel="noreferrer noopener"
          >jeffamazed</a
        >
      </p>
    </footer>
  </body>
</html>
