<!doctype html>

<html>
  <head>
    <title>File Metadata</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main class="container">
      <h1>API Project: File Metadata Microservice</h1>

      <h2>Usage:</h2>
      <p>Please Upload a File ...</p>
      <div class="view">
        <form
          enctype="multipart/form-data"
          method="POST"
          action="/api/fileanalyse"
        >
          <label for="inputfield" class="sr-only">Upload file here:</label>
          <input id="inputfield" type="file" name="upfile" />
          <button id="button" type="submit">Upload</button>
        </form>
      </div>
    </main>
    <footer class="footer">
      <p>
        Made by
        <a
          href="https://github.com/jeffamazed"
          target="_blank"
          rel="noopener noreferrer"
          >jeffamazed</a
        >
      </p>
    </footer>
  </body>
</html>
