<!doctype html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <h2>Short URL Creation</h2>
        <p>
          Example:
          <code>POST [project_url]/api/shorturl - https://www.google.com</code>
        </p>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
        <h2>Example Usage:</h2>

        <p>
          <a href="/api/shorturl/1" target="_blank" rel="noreferrer noopener"
            >[this_project_url]/api/shorturl/1</a
          >
          will open https://github.com/jeffamazed in a new tab.
        </p>
      </section>
    </main>
    <footer>
      <p>
        Made by
        <a
          href="https://github.com/jeffamazed"
          target="_blank"
          rel="noreferrer noopener"
          >jeffamazed</a
        >
      </p>
    </footer>
  </body>
</html>
