*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-clr: #e7ffc8;
  --main-svg-clr: #e8e8e9;
  --text-clr: #313131;
  --box-shdw: 0 0 10px 1px #272727;
  --tooltip-bg: #141414bb;
  --tooltip-clr: #f8f8f8;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--main-bg-clr);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
}

main {
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-inline: 10px;
}

svg {
  background-color: var(--main-svg-clr);
  box-shadow: var(--box-shdw);
  border-radius: 3px;
}

text {
  fill: var(--text-clr);
}

.upper-title {
  font-size: 3.2rem;
  font-weight: 600;
}

.lower-title {
  font-weight: 500;
}

.lower-title,
.axis-label {
  font-size: 2rem;
}

#x-axis text,
#y-axis text {
  font-size: 1.2rem;
}

#tooltip {
  opacity: 0;
  position: absolute;
  user-select: none;
  pointer-events: none;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-clr);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.15rem;
  transition: opacity 0.2s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shdw);
}

#tooltip dt,
#tooltip dd {
  display: inline;
}

.legend-title {
  font-size: 1.2rem;
}

.cell:focus {
  outline: 2px dashed #000;
  outline-offset: 2px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
